/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

{ 
  font-family: Arial, Helvetica, sans-serif; 
}

/* Common Styles */ 

i {
  padding : 5px;
}

.nav-tabs {
  width : 100%;
}

.nav-tabs > li {
  height : 40px;
  background-color: lightblue;
}

.nav-tabs>li>a {
  height : 35px;
}

.nav-tabs>li.active>a {
  color: dodgerblue!important;
}

/* Application scope styles */

billing-app {
  float: left;
  width: 100%;
}

billing-app .nav-tabs {
    background-color: aliceblue;
}

.app-header {
    width: 100%;
    height: 70px;
    padding-left: 9px;
    padding-top: 20px;
    font-size: 26px;
    background-color: aliceblue;
}

/* Won Management styles */

won-app {
  width: 66%;
  height: 500px;
}

won-app .tab-content {
  padding-top : 20px;
  padding-left : 10px;
}

#won-list {
  width : 70%;
}

#won-list td, #won-list th {
  text-align: center;
}

#won-list tr {
  height : 35px;
}

won-app table {
  margin-top: 20px;
}

.modal-body {
    position: absolute!important;
    width : 50%;
    top: 10%;
    left: 25%;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid black;
}